body {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#calculator {
    align-content: center;
    display: flex;
    border: 10px solid rgba(47, 47, 47, 1);
    align-items: center;
    flex-direction: column;
    width: 20vw;
    min-width: 30%;
    height: 59vh;
    justify-content: space-between;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 1em;
}

#display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 7vh;
    background-color: #eeeeee;
    font-size: 4vh;
}

/* .button {
    align-items: center;
    margin: 4px;
    height: 50px;
    width: 55px;
    border: 30px;
    border-radius: 10%;
} */

.input-button {
    background-color: #96dcc8;
    border: none;
    margin: 0 5%;
    padding: 20px;
    font-size: 80%;
    border-radius: 1rem;
    cursor: pointer;
}

.input-button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

.input-button:hover:not(:disabled) {
    background: lightcoral;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

.input-button:disabled {
    cursor: auto;
    color: grey;
}

.bclear {
    width: 50%;
}

.button-special {
    background-color: #4f7e70;
    /* border: none;
    margin: 0 5%;
    padding: 20px;
    font-size: 80%;
    border-radius: 1rem;
    cursor: pointer; */
}

/* .button-special:hover:not(:disabled) {
    background: #96dcc8;
    color: white;
    text-shadow: 0 0.1rem #bcb4b4;
}

.button-special:disabled {
    cursor: auto;
    color: grey;
}

.button-special:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
} */